{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'fillers/styles.css' %}">
	<link rel="shortcut icon" href="{% static 'mainpage/favicon.svg' %}" type="image/x-icon" />
	<!-- FOR-PHONE-INPUT -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'styles/common.css' %}" />
	<link rel="stylesheet" href="{% static 'styles/header.css' %}">
	<link rel="stylesheet" href="{% static 'styles/footer.css' %}">
	<link rel="stylesheet" href="{% static 'styles/sideButtons.css' %} " />
	<link rel="stylesheet" href="{% static 'styles/callBackModal.css' %}">
	<title>Про нас</title>
</head>

<body>
	{% include 'core_components/header.html' %}

	<main>
		<div class="container">
			<div class="title">
				<h1>Про нас</h1>
			</div>
			<div class="main">
				<div class="main-title">
					<h2>BonnyFlowers — квіти великого міста</h2>
				</div>
				<div class="main-text">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta doloribus sint ducimus!
						Asperiores
						expedita magnam consequuntur perferendis obcaecati porro veritatis blanditiis? Quia dolorum
						voluptatum quidem quis sint atque laboriosam asperiores.</p>
				</div>
				<div class="main-img"><img src="{{ about_us_context.main_image_upper.url }}" alt="img" /></div>
				<div class="main-text">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta doloribus sint ducimus!
						Asperiores
						expedita magnam consequuntur perferendis obcaecati porro veritatis blanditiis? Quia dolorum
						voluptatum quidem quis sint atque laboriosam asperiores.</p>
				</div>
				<div class="main-img"><img src="{{ about_us_context.main_image_down.url }}" alt="img" /></div>
				<div class="main-title">
					<h2>BonnyFlowers — квіти великого міста</h2>
				</div>
				<div class="main-text">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta doloribus sint ducimus!
						Asperiores
						expedita magnam consequuntur perferendis obcaecati porro veritatis blanditiis? Quia dolorum
						voluptatum quidem quis sint atque laboriosam asperiores.</p>
				</div>
				<div class="blocks">
					<div class="block">
						<div class="block-img"><img src="{{ about_us_context.small_image_left_first.url }}" alt="img" />
						</div>
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
					<div class="block">
						<div class="block-img"><img src="{{ about_us_context.small_image_right_first.url }}"
								alt="img" /></div>
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="block">
						<div class="block-img"><img src="{{ about_us_context.small_image_left_second.url }}"
								alt="img" /></div>
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
					<div class="block">
						<div class="block-img"><img src="{{ about_us_context.small_image_right_second.url }}"
								alt="img" /></div>
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="block">
						<div class="block-img"><img src="{{ about_us_context.small_image_left_third.url }}" alt="img" />
						</div>
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
					<div class="block">
						<div class="block-img"><img src="{{ about_us_context.small_image_right_third.url }}"
								alt="img" /></div>
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="block">
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
					<div class="block">
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="block">
						<div class="block-title">
							<h3>Lorem, ipsum dolor.</h3>
						</div>
						<div class="block-text">
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat adipisci velit tempore
								eum
								laborum non commodi, ducimus at! Natus tempora recusandae provident corporis molestiae
								voluptates.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- MODAL-CALL-BACK -->
		{% include 'core_components/callBackModal.html' %}

		<!-- MODAL-USER-LOCATION -->
		{% include 'core_components/locationModal.html' %}

		<!-- SOCIALS BUTTONS -->
		{% include 'core_components/buttons.html' %}
	</main>

	<!-- FOOTER -->
	{% include 'core_components/footer.html' %}

	<!-- SCRIPT`S -->

	<!-- BOOTSTRAP-BUNDLE-MIN -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- AXIOS -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- TEL FLAGS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" rel="stylesheet" />

	<!-- Places в Maps JavaScript API -->
	<script src="{% static 'scripts/locationModal.js' %}"></script>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5i5JJfxtMemi02YamAeiMa1FqYbOqCQA&libraries=places&language=en&callback=initAutocomplete"
		async defer>
		</script>

	<!-- OWN JS CODE -->
	<script src="{% static 'scripts/header.js' %}"></script>
	<script src="{% static 'scripts/common.js' %}"></script>
	<script src="{% static 'scripts/sideButtons.js' %}"></script>
	<script src="{% static 'scripts/callBackModal.js' %}"></script>
</body>

</html>