{% extends 'mainpage/base.html' %}
{% load static %}
{% block content %}

    <h3>Additional products</h3>
    <div>
        {% for product in additional_products %}
            <div>id: {{ product.id }}</div>
            <div>Name: {{ product.Name }}</div>
            <div>unit_price: {{ product.unit_price }}</div>
            <div>discount: {{ product.discount }}</div>
            <div>new_price: {{ product.new_price }}</div>
            <div>subcategory_slug: {{ product.subcategory_slug }}</div>
            <div>category_slug: {{ product.category_slug }}</div>
            <img src="{{ product.image.url }}" width="200" />
            <a href="{% url 'products:product' region product.category_slug product.subcategory_slug product.slug %}">Detail {{ product.Name }}</a>
        {% endfor %}
    </div>
{% endblock content %}
