django==4.2.0
pillow==9.5.0
python-dotenv==1.0.0
google-api-python-client==2.86.0
zohocrmsdk2-1==2.0.0
mysqlclient==2.2.0
mysql==0.0.3
mysql-connector-python==8.1.0
httpx==0.24.1
phonenumbers==8.13.24
gunicorn==21.2.0
twilio==8.11.1
