<!-- SOCIALS BUTTONS -->
<div class="cta-btn-group">
  <div class="contact-us">
    <button id="open-cta" class="cta-button">
      <span class="icon"></span>
    </button>
    <div class="contact-us-btn-group">
      <a href="{{ region.viber_link }}" target="_blank" class="contact-us-btn viber icon"></a>
      <a href="{{ region.telegram_link }}" target="_blank" class="contact-us-btn telegram icon"></a>
      <a href="{{ region.whatsapp_link }}" target="_blank" class="contact-us-btn whatsapp icon"></a>
    </div>
  </div>
  <a id="scroll-up" class="cta-button" href="#"><span class="icon"></span></a>
</div>
